<h4 class="header ca"><%= _('Compliance Reports Breakdown') %></h4>
<div id="compliance-reports-breakdown" class="host-configuration-chart"/>
<% report = ForemanOpenscap::ReportDashboard::Data.new().report %>
<%= mount_react_component('DonutChart', "#compliance-reports-breakdown", donut_breakdown_chart_data(report)) %>
