<h4 class="header ca"><%= _('Compliance Reports Breakdown') %></h4>
<div class="host-configuration-chart">
  <% report = ForemanOpenscap::ReportDashboard::Data.new().report %>
  <%= react_component('DonutChart', :data => donut_breakdown_chart_data(report)) %>
</div>
