<h4 class="header ca"><%= _('Compliance Reports Breakdown') %></h4>
<% report = ForemanOpenscap::ReportDashboard::Data.new().report %>
<%= reports_breakdown_chart(report, :class => 'statistics-pie small') %>
