{
  "plugins": [
    "@theforeman/foreman",
    "@theforeman/rules"
  ],
  "extends": [
    "plugin:@theforeman/foreman/core",
    "plugin:@theforeman/foreman/plugins"
  ],
  "rules":{
    "@theforeman/rules/require-ouiaid": ["error"]
  }
}
