.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
foreman_openscap-*.gem
.idea/
Gemfile.lock

locale/*/*.pox
locale/*/*.edit.po
locale/*/*.po.time_stamp

node_modules
package-lock.json
coverage
