<% title_actions display_link_if_authorized(_("New Compliance policy"), hash_for_new_scaptimony_policy_path) %>

<% title _("Compliance policy configuration") %>
<div id="welcome">
  <p>
  <%= _('A compliance policy is defined by security professionals who specify desired settings (often in the form of a checklist) that are to be used in the computing environment. Compliance audit is a process of figuring out whether a given object follows all the rules written out in a compliance policy.') %>

  <%= _('In order to define compliance policy, you need to prepare checklist (SCAP content), list of systems and time schedule') %>
  </p>
</div>
