<span>
  <% if spool_errors && spool_errors['errors_count'] > 0 %>
    <span>
      <%= _('%s spool errors detected, inspect the appropriate file directly on proxy') % spool_errors['errors_count'] %>
    </span>
  <% elsif !spool_errors.nil? && spool_errors.empty? %>
    <span>
      <%= _('Failed to fetch spool status from proxy') %>
    </span>
  <% else %>
    <%= _('None found') %>
  <% end %>
</span>
