<span>
  <% if last_error && last_error.has_key?('timestamp') %>
    <span>
      <a href="#logs" onclick="findSpoolLogs();"><%= date_time_relative_value(Time.at(last_error["timestamp"])) %></a>
    </span>
  <% elsif !last_error.nil? && last_error.empty? %>
    <span>
      <%= _('Enable "logs" feature on proxy to search for errors') %>
    </span>
  <% else %>
    <%= _('None found') %>
  <% end %>
</span>
