<% if host.arf_reports.any? %>
<table class="table table-bordered table-striped" id="compliance">
  <tr>
    <th colspan="2"><%= _('Compliance Properties') %></th>
  </tr>
  <tr>
    <td><%= _('Compliance') %></td>
    <td>
      <% if host.arf_reports.search_for('failed > 0').blank? %>
        <%= link_to(report_event_column('O', "label-success"), scaptimony_host_path(host.id)) %>
      <% else %>
        <%= link_to(report_event_column('F', "label-danger"), scaptimony_host_path(host.id)) %>
      <% end %>
    </td>
  </tr>
</table>
<% end %>