<div class="tab-pane <%= show_partial_wizard(step) %>" id="scap_content">
  <%= wizard_header @policy.step_index, *@policy.steps %>

  <%= scap_content_selector(f) %>
  <span id="scap_content_profile_select">
    <%= scap_content_profile_selector(f) %>
  </span>
</div>

