<div class="clearfix">
  <div id="scap_schedule">
    <%= select_f(f, :period, %w[weekly monthly], :to_s, :to_s, :include_blank => _('Choose period')) %>
    <%= select_f(f, :weekday, Date::DAYNAMES, :to_s, :to_s, :include_blank => _('Choose weekday')) %>
  </div>
</div>
