<% stylesheet 'foreman_openscap/scap_breakdown_chart'%>

<div id='status-chart'>
  <h4 class="header ca"><%= _('Host Breakdown Chart') %></h4>
  <div class="scap-breakdown-chart">
    <%= react_component('DonutChart', :data => policy_breakdown_chart_data(@report)) %>
  </div>
</div>
