<% stylesheet 'foreman_openscap/scap_breakdown_chart'%>

<div id='status-chart'>
  <h4 class="header ca"><%= _('Host Breakdown Chart') %></h4>
  <div id="policy-breakdown-chart" class="scap-breakdown-chart"></div>
  <%= mount_react_component('DonutChart', "#policy-breakdown-chart", policy_breakdown_chart_data(@report)) %>
</div>
