---
name: Ruby Testing

on:
  push:
    branches:
      - master
      - '*-stable'
  pull_request:

jobs:
  test:
    name: Ruby
    uses: theforeman/actions/.github/workflows/foreman_plugin.yml@v0
    with:
      plugin: foreman_openscap
      # https://github.com/theforeman/foreman/pull/10016
      foreman_repository: MariaAga/foreman
      foreman_version: webpack5-module-federations-node18
